/* HOME PAGE STYLE */
#content .card.home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  color: white;
  /* background-color: rgba(10, 10, 10, 0.5); */
  padding: 40px 0;
  /* border-radius: 10px; */
}

.card.home .left h1{
  font-size: 2.8rem;
}

.card.home p{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.4rem;
  line-height: 1.5;
  max-inline-size: 70ch;
}
