:root{
  --button-color-orange: rgb(255, 156, 0);
  --content-width: 70%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER, FOOTER AND BODY STYLE */
header{
  padding: 20px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
}

.icon-container a{
  padding-left: 5px;
}

button {
  font: inherit;
  color: var(--button-color-orange);
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  padding: 7px;
}

body{
  overflow-y: scroll;
  font-family: 'sans-serif';
  background: 
    linear-gradient(
      rgba(34, 34, 34, 0.65),
      rgba(34, 34, 34, 0.65)
    ),
    url(./images/body-bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
}