:root{
  --button-color-orange: rgb(255, 156, 0);
  --content-width: 70%;
  --card-bg-clr: rgba(15, 15, 15, 0.7);
  --card-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0, 0.75);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER, FOOTER AND BODY STYLE */
header{
  padding: 20px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
}

.icon-container a{
  padding-left: 5px;
}

button {
  font: inherit;
  color: var(--button-color-orange);
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  padding: 7px;
}

body{
  overflow-y: scroll;
  font-family: 'sans-serif';
  background: 
    linear-gradient(
      rgba(34, 34, 34, 0.65),
      rgba(34, 34, 34, 0.65)
    ),
    url(./images/body-bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* CONTENT STYLE */
#content {
  width: var(--content-width);
  margin: 125px auto;
}

/* HOME PAGE STYLE */
#content .card.home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  color: white;
  /* background-color: rgba(10, 10, 10, 0.5); */
  padding: 40px 0;
  /* border-radius: 10px; */
}

.card.home .left h1{
  font-size: 2.8rem;
}

.card.home p{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.4rem;
  line-height: 1.5;
  max-inline-size: 70ch;
}
 